<footer class="max-w-screen-xl mx-auto text-center text-white py-20">
  <!-- Copyright notice -->
  <p>&copy; 2025 Alvaro Leyton. Todos los derechos reservados.</p>

  <!-- Social media links -->
  <div class="social-links mt-4 flex justify-center">
    <!-- GitHub profile link -->
    <a
      href="https://github.com/al7474"
      class="text-white mx-3 hover:text-blue-600"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub Profile"
    >
      <img
        src="/icons/rgithub.svg"
        alt="GitHub"
        class="w-6 h-6 filter invert"
      />
    </a>

    <!-- Placeholder for a kanji  -->
    <a href="#" class="text-white mx-3 hover:text-blue-600" aria-label="Kanji">
      <img src="/icons/fanfou.svg" alt="Kanji" class="w-6 h-6 filter invert" />
    </a>

    <!-- LinkedIn profile link -->
    <a
      href="https://www.linkedin.com/in/al-275bb8323/"
      class="text-white mx-3 hover:text-blue-600"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn Profile"
    >
      <img
        src="/icons/linkedin2.svg"
        alt="LinkedIn"
        class="w-6 h-6 filter invert"
      />
    </a>
  </div>
</footer>
