<footer class="max-w-screen-xl mx-auto text-center text-white py-20">
  <!-- Copyright notice -->
  <p>&copy; 2025 Alvaro Leyton. Todos los derechos reservados.</p>

  <!-- Social media links -->
  <div class="social-links mt-4">
    <!-- GitHub profile link -->
    <a
      href="https://github.com/al7474"
      class="text-white text-xl mx-3 hover:text-blue-600"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub Profile"
    >
      <i class="fab fa-github-alt"></i>
    </a>

    <!-- Placeholder for a gaming-related page -->
    <a
      href="#"
      class="text-white text-xl mx-3 hover:text-blue-600"
      aria-label="Gaming Page"
    >
      <i class="fa-solid fa-gamepad"></i>
    </a>

    <!-- LinkedIn profile link -->
    <a
      href="https://www.linkedin.com/in/al-275bb8323/"
      class="text-white text-xl mx-3 hover:text-blue-600"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn Profile"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</footer>
